/*----------CABECERA----------*/
header, footer{
    background-color: bisque;
}

h1{
    background-color: rgb(163, 30, 181);
}

h2{
    background-color: rgb(217, 69, 237);
}

h3{
    background-color: rgb(229, 112, 245);;
}

.menu{
    background-color: burlywood;
}

/*----------CUERPO----------*/
body{

}

section{

}

article{

}

aside{

}

form{

}

ul{

}

ol{

}

li{

}

/*----------INCLUSIONES----------*/
img{

}

audio{

}

a{
    
}
